body{
  margin: 0;
  padding: 0;
  font-family: "inter","sans-serif";
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  color: #ffffff;
  background: #F55A5A;
  gap: 7px;
}